In [2]:
import pandas as pd

In [3]:
# read dataset from folder
automotive = pd.read_csv('../decision-trees/auto-mpg.csv')
automotive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [10]:
# replace '?' in horsepower to mode 
automotive['horsepower'] = automotive['horsepower'].replace({'?':automotive['horsepower'].mode()[0]})

In [11]:
# convert horsepower to int
automotive['horsepower'] = automotive['horsepower'].astype(int)

In [12]:
automotive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    int64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 28.1+ KB

# save cleaned dataset as another .csv file
automotive = automotive.to_csv('automotive.csv', index=False)

In [13]:
automotive.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [17]:
# define features and target
X = automotive.drop(columns=['mpg', 'car name'], axis=1)
y = automotive['mpg']

In [20]:
# split data into train-test set
from sklearn.model_selection import train_test_split

# train-test split 80-20
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [21]:
# import DecisionTreeRegressor
from sklearn.tree import DecisionTreeRegressor

In [23]:
# instantiate DecisionTreeRegressor (dtr) with max_depth of 8 and min_samples_leaf of 0.13
dtr = DecisionTreeRegressor(max_depth=8, min_samples_leaf=0.13)

In [25]:
# fit training data into model
dtr.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=8, min_samples_leaf=0.13)

In [26]:
# predict test set labels
y_pred = dtr.predict(X_test)
print(y_pred[0:5])

[32.7691358  27.73818182 19.36349206 14.52133333 14.52133333]

In [29]:
# metric used for evaluation: mean squared error
# import mean squared error
from sklearn.metrics import mean_squared_error as MSE

In [30]:
# compute mean squared error of model with test set
mse_dtr = MSE(y_test, y_pred)

In [31]:
# compute root mean squared error of dtr
rmse_dtr = mse_dtr**(1/2)

In [32]:
# print output of rmse_dtr
print(f"Test set RMSE of dtr: {rmse_dtr:.2f}")

Test set RMSE of dtr: 4.18